.food-result {
	margin-bottom: 1rem 1.5rem;
	margin: 1.5rem 2rem;
	display: flex;
	background-color: rgba(255, 149, 5, 0.13);
	border-radius: 18px;
	height: 4rem;
	align-content: center;
	transition: all 0.2s;

	.food-flex-box {
		flex-basis: 90%;
		display: flex;

		.food-primary-info {
			flex-basis: 80%;
			display: flex;
			flex-direction: column;

			.food-name {
				flex-basis: 90%;
				h2 {
					padding-top: 5px;
					font-size: 1.7rem;
					color: $primary-color;
				}
			}

			.food-macros-info {
				flex-basis: 10%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-right: 1rem;
				padding-bottom: 0.5rem;

				.macros {
					margin-left: 0;
					flex-basis: 40%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					.food-macro {
						color: $primary-color;
						font-size: 0.9rem;
						min-width: 100px;
					}
				}

				.edit {
					cursor: pointer;
					text-decoration: underline;
					font-size: 0.8rem;
					color: $primary-color;
				}
			}
		}

		.food-calories {
			flex-basis: 20%;
			display: flex;
			flex-direction: row;
			position: relative;
			h1 {
				color: $primary-font-color;
				position: absolute;
				padding: 10px 0 0 7px;
				bottom: 0;
				font-size: 2.5rem;
				span {
					font-size: 1rem;
				}
			}
		}
	}

	.add-logo,
	.favourite-logo {
		color: $nav-color;
		flex-basis: 5%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 10px;
		svg {
			@extend %btn;
			padding: 0;
			margin: 0;
		}
	}

	&:hover {
		transform: scale(1.01);
	}
}

// MINI DISPLAY ON THE RIGHT

.total-recipes-eaten-container {
	flex-basis: 63%;
	overflow: auto;
}

.summary-food-result {
	display: flex;
	flex-direction: column;

	.summary-food-item {
		padding: 3px 10px;
		margin: 0.5rem;
		background-color: rgba(255, 149, 5, 0.13);
		border-radius: 14px;
		height: 3rem;
		display: flex;
		transition: all 0.2s;

		.food-summary {
			display: flex;
			flex-basis: 90%;

			.food-info {
				display: flex;
				flex-direction: column;

				.food-name {
					flex-basis: 75%;
					h2 {
						padding: 4px 10px;
						font-size: 19px;
						line-height: 1;
						max-width: 270px;
						max-height: 34px;
					}
				}

				.food-macros-info {
					flex-basis: 25%;
					display: flex;
					align-items: center;
					justify-content: space-evenly;

					.food-macro {
						font-size: 14px;
						margin: 0 20px 2px 0;
						min-width: 50px;
					}
				}
			}

			.food-calories {
				flex-basis: 20%;
				display: flex;
				align-items: center;
				justify-content: center;
				h1 {
					font-size: 35px;
					text-align: center;

					span {
						display: none;
					}
				}
			}
		}

		&:hover {
			transform: scale(1.01);
		}
	}
	.delete-logo {
		flex-basis: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg {
			transform: rotate(45deg);
		}
	}
}
