// Variables

$website-width: 1280px;

$nav-color: #e2711d; //RGB - 226, 113, 29
$primary-color: #ff9505; // RGB - 255,149,5
$primary-font-color: rgba(226, 113, 29, 0.8);
$secondary-font-color: rgba(226,113,29,0.68);

$icons-color: rgba(255, 149, 5, 0.96);

$secondary-color: #ffb627; // RGB - 255,182,39
$tertiary-color: #ffc971;

$bg-image: url('../img/cover.jpg');

// Dark to Light
// CC5803 (very dark, maybe nav?)
// E2711D
// FF9505
// FFB627
// FFC971

// Set Text Color
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #fff;
	}
}
